body {
    padding: 0;
    margin: 0;
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    background: #f1f1f1;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

body, input, button {
    -webkit-font-smoothing: antialiased;
}

input:not([type="checkbox"]), button {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: inherit;
    font-family: inherit;
    padding: 10px 15px;
    border: none;
    min-width: 0;
}

input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

button, a.btn {
    display: inline-block;
    border: none;
    color: #59c6ff;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 20px;
    text-align: center;
    background: none;
}

button.primary, a.btn.primary, form button:not(.plain) {
    background: #59c6ff;
    color: #fff;
}

*:focus {
    outline: none;
}

h1 {
    font-size: 250%;
    font-weight: 100;
    margin: 20px 0;
}

h2 {
    font-size: 120%;
    font-weight: 400;
}

h3 {
    font-size: 110%;
    font-weight: 400;
}

a {
    color: #59c6ff;
    text-decoration: none;
    font-weight: 400;
}

button:hover, a:hover {
    opacity: 0.7;
}

section {
    padding: 0 40px;
    margin: 40px 0;
    clear: both;
}

footer {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 80%;
    border-top: solid 1px #ccc;
}

footer .copyright {
    color: #ccc;
}

footer a {
    margin: 0 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

th {
    text-align: left;
    vertical-align: top;
    width: 150px;
}

svg.icon {
    fill: currentColor;
    stroke: currentColor;
}

header {
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
}

header .inner {
    height: 50px;
    width: 100%;
    margin: 0 auto;
}

header .inner, header .home, header nav, header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

header .logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-left: 3px;
}

header .spacer {
    flex: 1;
}

main {
    margin: 80px auto;
}

header .inner, main {
    max-width: 800px;
}

.account-email {
    font-size: 90%;
    font-weight: bold;
}

.note {
    padding: 20px;
    text-align: center;
}

input, button:not(.plain), a.btn, .note, .card {
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

@media (max-width: 500px) {
    header .home .type {
        display: none;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}
