ul.paired-devices li {
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 90%;
    display: block;
}

.revoke {
    float: right;
}

.revoke button {
    padding: 0;
}

th, td {
    font-size: 90%;
    padding: 0;
}

.device-description {
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    tr {
        display: flex;
        flex-direction: column;
    }
}
