ul.paired-devices li {
    padding: 15px 20px;
    border: solid 1px #eee;
    margin: 10px 0;
    font-size: 90%;
}

button {
    background: none;
    color: #59c6ff;
    padding: 0;
    margin: 5px 0 0 2px;
}

.expired {
    opacity: 0.5;
}

.expired:before {
    content: "expired/revoked";
    float: right;
    color: red;
}

@media (max-width: 500px) {
    .expired:before {
        float: none;
        margin: 0 3px;
    }

    tr {
        display: flex;
        flex-direction: column;
    }
}
