@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url(../fonts/ClearSans-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Clear Sans Light'), local('ClearSans-Light'), url(../fonts/ClearSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans Regular'), local('ClearSans-Regular'), url(../fonts/ClearSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url(../fonts/ClearSans-Bold.woff) format('woff');
}
