.login-form {
    display: flex;
    margin: 30px 0;
}

.login-form input[name="email"] {
    display: block;
    flex: 1;
    margin-right: 5px;
}

@media (max-width: 500px) {
    .login-form {
        flex-direction: column;
    }

    .login-form input[name="email"] {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
