{{ define "main" -}}
{{ if eq .token.Type "web" -}}
You are receiving this email because you requested to log into your Padlock Cloud account {{ .token.Email }} through your browser. Just click the link below to log in!

Click to log in: {{ .activation_link }}
{{- else -}}

You are receiving this email because you requested to pair your Device "{{ .token.Description }}" with the Padlock Cloud account "{{ .token.Email }}".

{{- with .code }}

Your login code is: {{ . }}

{{ else }}

To finish the pairing process, please visit the following link:

{{ .activation_link }}

{{ end -}}

WARNING: If you did not request to pair this device with your account, please disregard the previous instructions and contact us at support@padlock.io.

{{- end }}
{{- end }}
