{{ define "css" -}}

<link href="/static/css/dashboard.css" rel="stylesheet" type="text/css">

{{- end }}

{{ define "dashboard-notice" -}}

  {{- with .paired -}}
    <div class="note"><strong>{{ .Description }}</strong> paired successfully!</div>
  {{- end -}}
  {{- with .revoked -}}
    <div class="note">Access for <strong>{{ .Description }}</strong> revoced successfully!</div>
  {{- end -}}

{{- end }}

{{ define "dashboard-manage-account" -}}

  <section>

    <h2>Manage Account</h2>

    {{ if eq .action "resetdata" -}}

      <p class="note">
        Are you sure you want to delete all your data on Padlock Cloud?
        <strong>This action can not be undone!</strong>
        (Data stored locally on your devices will not be affected)
      </p>

      <form action="/deletestore/" method="POST">
        {{ .csrfField }}
        <button>Reset Data</button>
      </form>

    {{- else if .datareset -}}

      <p class="note">
        Your data has been reset successfully!
      </p>

    {{- else -}}

      <a class="btn" href=".?action=resetdata">Reset Data</a>

    {{- end }}

  </section>

{{- end }}

{{ define "dashboard-manage-devices" -}}
  <section>

    <h2>Paired Devices</h2>

    <ul class="paired-devices">

      {{- $csrfField := .csrfField -}}

      {{ with .account.AuthTokensByType "api" -}}

        {{- range . -}}
          {{- if not .Expired -}}

            <li class="card">
              <form action="/revoke/" method="POST" class="revoke">
                <input name="id" type="hidden" value="{{ .Id }}">
                {{ $csrfField }}
                <button class="plain">Revoke</button>
              </form>

              <div class="device-description">{{- .Description -}}</div>

              <table>
                <tr><th>Paired:</th><td>{{ .Created.Format "Jan 2 2006 - 15:04:05 MST" }}</td></tr>
                <tr><th>Last Used:</th><td>{{ .LastUsed.Format "Jan 2 2006 - 15:04:05 MST" }}</td></tr>

                {{ if not .Expired -}}
                  <tr><th>Expires:</th><td>
                    {{- if .Expires.IsZero -}}
                      Never
                    {{- else -}}
                      {{ .Expires.Format "Jan 2 2006" }}
                    {{- end -}}
                  </td></tr>
                {{- end }}
              </table>
            </li>

          {{ end -}}
        {{- end -}}

      {{- else -}}
        <p>
          You don't have any connected devices yet.<br>
          <a href="https://padlock.io">Download the app to get started!</a>
        </p>
      {{- end -}}
    </ul>
  </section>

{{- end }}

{{ define "main" -}}

<section>
    {{ template "dashboard-notice" . }}
</section>

{{ template "dashboard-manage-account" . }}
{{ template "dashboard-manage-devices" . }}

{{- end }}
