{{ define "css" }}
    <link href="/static/css/dashboard.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "dashboard-manage-account" }}
<section>
    <h2>Manage Account</h2>
    <p>
        <a href="/deletestore/">Reset Data</a>
    </p>
</section>
{{ end }}

{{ define "dashboard-manage-devices" }}
<section>
    <h2>Paired Devices</h2>
    {{ with .paired }}
    <p class="note">Device paired successfully!</p>
    {{ end }}
    <ul class="paired-devices">
        {{ $csrfField := .csrfField }}
        {{ range .account.AuthTokens }}
        {{ if . }}
        {{ if eq .Type "api" }}
        <li{{ if .Expired }} class="expired"{{ end }}>
            {{ if .Expired }}
            <div class="expired-label">Expired / Revoked</div>
            {{ end }}
            <table>
                <tr><th>Connection ID:</th><td>{{ .Id }}</td></tr>
                <tr><th>Connected:</th><td>{{ .Created.Format "Jan 2 2006 - 15:04:05 MST" }}</td></tr>
                <tr><th>Last Used:</th><td>{{ .LastUsed.Format "Jan 2 2006 - 15:04:05 MST" }}</td></tr>
                {{ if not .Expired }}
                <tr><th>Expires:</th><td>
                    {{- if .Expires.IsZero -}}
                    Never
                    {{- else -}}
                    {{ .Expires.Format "Jan 2 2006 - 15:04:05 MST" }}
                    {{- end -}}
                </td></tr>
                {{ end }}
            </table>
            {{ if not .Expired }}
            <form action="/revoke/" method="POST">
                <input name="id" type="hidden" value="{{ .Id }}">
                {{ $csrfField }}
                <button>Revoke</button>
            </form>
            {{ end }}
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
</section>
{{ end }}

{{ define "main" }}

{{ template "dashboard-manage-account" . }}
{{ template "dashboard-manage-devices" . }}

{{ end }}
